@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

#root {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

/* animations and assets */
#loading-animation {
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Header components */
.header-component {
  /* border-radius: 1rem; */
  background: grey;
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  /* gap: 4rem; */
}

.home-logo-link {
  background-color: rgb(253, 184, 116);
  padding: 0.5rem;
  padding-bottom: 0rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  color: rgb(69, 81, 7);
  font-family: "Luckiest Guy";
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.home-logo-link:hover {
  background-color: rgb(255, 211, 168);
  color: rgb(114, 131, 31);
}

.main-app-title {
  padding: 1rem;
  margin-left: 3.5rem;
  font-size: 3rem;
  text-align: center;
  font-family: "Luckiest Guy";
  color: rgb(255, 222, 189);
}

.header-user-logo {
  padding: 0.5rem;
  background-color: rgb(253, 184, 116);
  border-radius: 1rem;
  margin-left: auto;
  box-sizing: border-box;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#header-user-welcome {
}
#header-user-name {
  font-size: 1.5rem;
}
/* Articles components */

.articles-page {
  border: 1rem solid rgb(253, 184, 116);
  border-radius: 2rem;
  box-sizing: border-box;
  margin-top: 1rem;
  line-height: 0.4rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.articles-title {
  line-height: 3rem;
}

.articles-list-component {
  background-color: rgb(86, 86, 86);
  border-radius: 1rem;
  margin: 0 auto;
  padding: 0;
  margin-top: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Article Summary card */
.article-card {
  background-color: rgb(228, 218, 188);
  border-radius: 1rem;
  list-style-type: none;
  padding: 0.4rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  gap: 1rem;
}

.article-card:hover {
  background-color: rgb(255, 247, 224);
  transform: scale(1.1);
  color: rgb(193, 123, 52);
}

.article-card-title {
  max-width: 400px;
  line-height: 1.8rem;
  font-size: 1.8rem;
  margin: 0.5rem;
}

.article-card-image {
  display: block;
  max-height: auto;
  max-width: 400px;
  object-fit: cover;
  flex: auto;
  margin: 0.5rem;
  margin-top: 0rem;
  border-radius: 0.5rem;
}

.article-card-info {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(100, 100, 100);
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;
  color: rgb(33, 32, 32);
  background-color: rgb(253, 184, 116);
}

.article-card-topic-link {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(100, 100, 100);
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;
  color: rgb(33, 32, 32);
  background-color: rgb(253, 184, 116);
}

.article-card-topic-link:hover {
  background-color: rgb(255, 222, 188);
}

.article-card-footer {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: center;
  margin: 0.5rem;
}

/* Single Article Page */

.single-article-page {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.single-article-card {
  border-radius: 1rem;
  background: rgb(222, 208, 199);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 1rem;
  padding-bottom: 1rem;
}

.single-article-title {
  font-size: 2.5rem;
  border-radius: 1rem;
  background: rgb(59, 59, 59);
  color: rgb(253, 184, 116);
  padding: 1rem;
  max-width: 80vw;
}

.single-article-image {
  border-radius: 0.5rem;
}

.article-buttons-bar {
  border-radius: 1rem;
  background: rgb(59, 59, 59);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem;
  padding: 0.7rem;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 60vw;
}

.article-info-button {
  border-radius: 1rem;
  background: rgb(253, 184, 116);
  padding: 0.5rem;
}

.article-vote-button {
  border-radius: 1rem;
  background: rgb(161, 230, 164);
  padding: 0.5rem;
}

.single-article-body {
  font-size: 1.2rem;
  line-height: 2rem;
  max-width: 60vw;
}

#article-topic-button {
  border-radius: 1rem;
  background: rgb(253, 184, 116);
  padding: 0.5rem;
}

#article-topic-button:hover {
  background: rgb(255, 217, 179);
}

/* Article Vote Component */
#article-vote-handler {
  background-color: pink;
  border-radius: 1rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.vote-button {
  font-size: 1rem;
  margin: 0.2rem;
  padding: 0.4rem;
  border-radius: 1rem;
  background-color: rgb(81, 95, 18);
  color: white;
}

.vote-button:hover {
  background-color: rgb(121, 139, 43);
  transform: scale(1.1);
}

.vote-button:disabled {
  background-color: #ccc;
  color: #666;
}

#votes-count {
  font-size: 1.2rem;
}

/* Comment Form */

.comment-form-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.article-comment-form {
  background-color: rgb(253, 184, 116);
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#comment-form-title {
  margin-top: 1rem;
}
#comment-form-subtitle {
  font-size: 1.2rem;
}

#article-comment-form {
  padding: 2rem;
  gap: 1rem;
}

#comment-text-box {
  font-size: 1rem;
}

#comment-submit-button {
  font-size: 2rem;
  background-color: rgb(139, 139, 54);
  color: beige;

  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
#comment-submit-button:hover {
  background-color: rgb(179, 179, 92);
  transform: scale(1.1);
}

#comment-clear-button {
  font-size: 2rem;
  background-color: rgb(88, 83, 74);
  color: beige;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
#comment-clear-button:hover {
  background-color: rgb(146, 136, 118);
  transform: scale(1.1);
}

#form-submission-text {
  font-size: 2rem;
  background-color: rgb(139, 139, 54);
  color: beige;
  max-width: 60vw;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

/* Comments components */
.comments-list-component {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  text-align: center;
  gap: 1rem;
  box-sizing: border-box;
}

.comment-card {
  border-radius: 1rem;
  border: 0.2rem solid rgb(88, 83, 74);
  background: rgb(250, 244, 226);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
}

.comment-button-bar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.comment-info-button {
  background-color: rgb(253, 184, 116);
  margin: 0;
  padding: 0.5rem;
  border-radius: 1rem;
}

.comment-date-stamp {
  background-color: rgb(139, 139, 54);
  color: beige;
  margin: 0;
  padding: 0.6rem;
  border-radius: 1rem;
}

#delete-comment-button {
  background-color: rgb(170, 54, 27);
  color: beige;
  margin: 0;
  padding: 0.6rem;
  border-radius: 1rem;
  font-size: 1rem;
}

#delete-comment-button:hover {
  background-color: rgb(211, 88, 60);
  transform: scale(1.1);
}

/* Topics Components */

#topics-dropdown {
  background-color: rgb(95, 95, 23);
  border: none;
  font-size: 1.5rem;
}

#topics-dropdown .dropdown-menu {
  padding: 0; /* Remove padding around the menu */
  margin: 0; /* Ensure the dropdown menu itself has no margin */
}

#topics-dropdown:hover {
  background-color: rgb(138, 138, 44);
}

.topic-menu-item {
  color: white;
  font-size: 1.5rem;
  background-color: rgb(95, 95, 23);
}

.topic-menu-item:hover {
  color: rgb(252, 229, 193);
  background-color: rgb(138, 138, 44);
}

/* Sort By Component */
.sorting-bar {
  background-color: pink;
  border-radius: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  gap: 1vw;
}
#sort-by-label {
  line-height: 2rem;
  padding: 0.2rem;
}

.sort-button {
  color: white;
  background-color: rgb(115, 124, 13);
  border-radius: 2rem;
  padding: 1rem;
}

.sort-button:hover {
  background-color: rgb(138, 138, 44);
}
.sort-button-active {
  color: white;
  border-radius: 2rem;
  padding: 1rem;
  background-color: rgb(143, 127, 102);
}

/* Error handlers */

.error-message {
  background-color: rgb(98, 20, 20);
  color: beige;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 2rem;
}

/* Media Rules */

@media (max-width: 700px) {
  body {
    padding: 0;
  }
  .header-component {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .main-app-title {
    margin-left: 0;
    text-align: center;
    font-size: 2rem;
  }

  .home-logo-link,
  .header-user-logo {
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem;
  }
  .articles-page,
  .articles-list-component {
    margin: 0 auto;
    flex-direction: column;
  }
  .article-card {
    width: 80vw;
    padding: 1rem 0;
    line-height: 1rem;
  }
  /* .articles-title {
    font-size: 1.5rem;
  } */
  a {
    width: 80%;
  }
  /* .article-buttons-bar, */
  .single-article-image,
  .single-article-card {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .article-buttons-bar {
    margin: 0;
    padding: 2%;
    gap: 4%;
    width: 70vw;
    flex-direction: column;
  }
  .single-article-body {
    width: 100vw;
  }
  .article-comment-form {
    width: 70vw;
  }
  .comments-list-component {
    width: 120vw;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .comment-button-bar {
    flex-direction: column;
  }

  #comment-text-box {
    width: 90vw;
  }

  .sorting-bar {
    width: 90vw;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .sort-button,
  .sort-button-active {
    padding: 0.5rem;
    line-height: 1.3rem;
    border-radius: 1rem;
    margin: 1vw;
  }

  #sort-by-label {
    line-height: 1rem;
    margin-top: 0.6rem;
  }
}
